In [ ]:
import quandl
import matplotlib.pyplot as plt
from mpl_finance import candlestick_ohlc
import matplotlib.dates as mdates
import numpy as np
quandl.ApiConfig.api_key = 's_YHBWCvr5YJr3-2ifzU' # key

In [ ]:
data = quandl.get('EURONEXT/', start_date='2018-01-02', end_date='2018-12-04')

In [ ]:
data.Close.plot()
plt.show()

In [ ]:
data_analysis = data

# basic analysis

In [ ]:
data_analysis['100ma'] = data_analysis['Close'].rolling(window=100,min_periods=0).mean()
# this is used to compute the average for pass 100 price (including itself)

ax1 = plt.subplot2grid((6,1),(0,0),rowspan=5,colspan=1)
ax2 = plt.subplot2grid((6,1),(5,0),rowspan=5,colspan=1,sharex=ax1)
ax1.plot(data.index,data_analysis['Close'])
ax1.plot(data.index,data_analysis['100ma'])
ax2.plot(data.index,data_analysis['Total Trade Quantity'])
plt.show()

In [ ]:
data_ohlc = data_analysis['Close'].resample('10D').ohlc()
data_volume = data_analysis['Total Trade Quantity'].resample('10D').sum()
data_ohlc.reset_index(inplace=True) # the index should be 0 1 2 ....
data_ohlc['Date'] = data_ohlc['Date'].map(mdates.date2num) # transfer datetime to timestamp

ax1 = plt.subplot2grid((6,1),(0,0),rowspan=5,colspan=1)
ax2 = plt.subplot2grid((6,1),(5,0),rowspan=5,colspan=1,sharex=ax1)
ax1.xaxis_date()
candlestick_ohlc(ax1,data_ohlc.values,width=2,colorup='g')
ax2.fill_between(data_volume.index.map(mdates.date2num),data_volume.values,0)
plt.show() ## candlestick graph

## calculation of Relative Strength index(RSI)

In [ ]:
TechIndicator = data.copy()

In [ ]:
# Relative Strength Index
# Avg(PriceUp)/(Avg(PriceUP)+Avg(PriceDown)*100
# Where: PriceUp(t)=1*(Price(t)-Price(t-1)){Price(t)- Price(t-1)>0};
#        PriceDown(t)=-1*(Price(t)-Price(t-1)){Price(t)- Price(t-1)<0};

def rsi(values):
    up = values[values>0].mean()
    down = -1*values[values<0].mean()
    return 100 * up / (up + down)

In [ ]:
# Add Momentum_1D column for all 15 stocks.
# Momentum_1D = P(t) - P(t-1)
TechIndicator['Momentum_1D'] = (TechIndicator['Close']-TechIndicator['Close'].shift(1)).fillna(0)
TechIndicator['RSI_14D'] = TechIndicator['Momentum_1D'].rolling(center=False, window=14).apply(rsi).fillna(0)
TechIndicator.tail(5)

## Calculation of Bollinger Bands

In [ ]:
def bbands(price, length=30, numsd=2):
    """ returns average, upper band, and lower band"""
    #ave = pd.stats.moments.rolling_mean(price,length)
    ave = price.rolling(window = length, center = False).mean()
    #sd = pd.stats.moments.rolling_std(price,length)
    sd = price.rolling(window = length, center = False).std()
    upband = ave + (sd*numsd)
    dnband = ave - (sd*numsd)
    return np.round(ave,3), np.round(upband,3), np.round(dnband,3)

In [ ]:
TechIndicator['BB_Middle_Band'], TechIndicator['BB_Upper_Band'], TechIndicator['BB_Lower_Band'] = bbands(TechIndicator['Close'], length=20, numsd=1)
TechIndicator['BB_Middle_Band'] = TechIndicator['BB_Middle_Band'].fillna(0)
TechIndicator['BB_Upper_Band'] = TechIndicator['BB_Upper_Band'].fillna(0)
TechIndicator['BB_Lower_Band'] = TechIndicator['BB_Lower_Band'].fillna(0)
TechIndicator.tail()

## Calculation of Aroon Oscillator

In [ ]:
def aroon(df, tf=25):
    aroonup = []
    aroondown = []
    x = tf
    while x< len(df['High']):
        aroon_up = ((df['High'][x-tf:x].tolist().index(max(df['High'][x-tf:x])))/float(tf))*100
        aroon_down = ((df['Low'][x-tf:x].tolist().index(min(df['Low'][x-tf:x])))/float(tf))*100
        aroonup.append(aroon_up)
        aroondown.append(aroon_down)
        x+=1
    return aroonup, aroondown

In [ ]:
listofzeros = [0] * 25
up, down = aroon(TechIndicator)
aroon_list = [x - y for x, y in zip(up,down)]
if len(aroon_list)==0:
    aroon_list = [0] * TechIndicator.shape[0]
    TechIndicator['Aroon_Oscillator'] = aroon_list
else:
    TechIndicator['Aroon_Oscillator'] = listofzeros+aroon_list

## Calculation of Price Volume Trend
PVT = [((CurrentClose - PreviousClose) / PreviousClose) x Volume] + PreviousPVT

In [ ]:
TechIndicator["PVT"] = (TechIndicator['Momentum_1D']/ TechIndicator['Close'].shift(1))*TechIndicator['Total Trade Quantity']
TechIndicator["PVT"] = TechIndicator["PVT"]-TechIndicator["PVT"].shift(1)
TechIndicator["PVT"] = TechIndicator["PVT"].fillna(0)

## Calculation of Acceleration Bands

# Input data from yahoo

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override()

Since we don't have the tickers names of companies in LSE(London Stock Exchange), we need to input all tickers names at first

In [2]:
data = pd.read_csv('LSE.txt')

In [3]:
def splitTicker(row):
    splitname = row['Symbol\tDescription'].split('\t')
    return splitname[0]
def splitCompany(row):
    splitname = row['Symbol\tDescription'].split('\t')
    return splitname[1]
def lowerName(row):
    new_name =  row['company_name'].lower()
    return new_name
def transferDatetime(row):
    time = datetime.strptime(str(row['addmission_time']), '%d/%m/%Y')
    return time
def filterAddmissionTime(data,past_time):
    return data[data['addmission_time']<=past_time]

In [4]:
data['ticker']= data.apply(splitTicker,axis=1)
data['company_name'] = data.apply(splitCompany,axis=1)
data['company_name'] = data.apply(lowerName,axis=1)
data['company_name'].head()

0    statoilhydro asa 6.125% notes 27/11/28 gbp(var)
1                                 baywa ag npv(vink)
2                       crcam nord de france eur3.05
3                                 carlsberg `a`dkk20
4                                 carlsberg `b`dkk20
Name: company_name, dtype: object

In [5]:
company = pd.read_csv('company.csv')
company = company[['Unnamed: 1','Unnamed: 2']][5:-2]
company.columns=['addmission_time','company_name']
company['company_name'] = company.apply(lowerName,axis=1)
company.dropna(inplace=True)
company['addmission_time'] = company.apply(transferDatetime,axis=1)

In [6]:
cleaned_data = company.merge(data,on=['company_name']).drop(columns='Symbol\tDescription')
cleaned_data.head()

       addmission_time        company_name  ticker
0  2006-08-02 00:00:00             1pm plc   OPM.L
1  2009-02-02 00:00:00        1spatial plc   SPA.L
2  1994-07-18 00:00:00        3i group plc   III.L
3  2014-02-18 00:00:00       4d pharma plc  DDDD.L
4  1953-03-13 00:00:00  4imprint group plc  FOUR.L

In [7]:
past_time = datetime.now()-timedelta(days=3650)

filtered_date = filterAddmissionTime(cleaned_data,past_time)

In [8]:
tickers_list =  list(filtered_date['ticker'])

In [13]:
Total_data = pdr.get_data_yahoo(tickers=tickers_list,start=past_time,end=datetime.now())

[*********************100%***********************]  1025 of 1025 downloaded

In [53]:
Total_data.head()

             Open                                                           \
           AADV.L AAEV.L AAIF.L   AAL.L   AAM.L  AAS.L AATG.L AAU.L AAVC.L
Date
2009-01-12  0.735    0.7  1.020  1474.0  0.5525  2.330    0.7  1.75  0.625
2009-01-13  0.735    0.7  1.000  1422.0  0.5525  2.320    0.7  1.75  0.600
2009-01-14  0.735    0.7  1.010  1454.0  0.5525  2.340    0.7  1.75  0.625
2009-01-15  0.735    0.7  0.990  1289.0  0.5525  2.335    0.7  1.75  0.625
2009-01-16  0.735    0.7  1.025  1312.0  0.5525  2.310    0.7  1.75  0.600

                   ...     Volume                                              \
           AAZ.L   ...      WYN.L      XAR.L     XPP.L YGEN.L     YOU.L ZIN.L
Date               ...
2009-01-12   6.0   ...        0.0   140000.0   37200.0    NaN  219886.0   0.0
2009-01-13   6.0   ...        0.0   104815.0    4940.0    NaN  146674.0   0.0
2009-01-14   7.0   ...        0.0    31485.0    4083.0    NaN  352736.0   0.0
2009-01-15   7.0   ...     4500.0  1472514.0  582562.0    NaN  188571.0   0.0
2009-01-16   7.0   ...        0.0   237837.0       0.0    NaN  140219.0   0.0


              ZOL.L    ZOO.L   ZTF.L    ZYT.L
Date
2009-01-12      0.0  24400.0  7255.0  12763.0
2009-01-13      0.0   1363.0     0.0   3500.0
2009-01-14      0.0      0.0     0.0      0.0
2009-01-15   2000.0      0.0     0.0      0.0
2009-01-16  35000.0   3279.0     0.0      0.0

[5 rows x 2526 columns]

## seperate the dataframes into several dataframes by closing price and total price 
we can get volume value and closing price

In [60]:
Closed_price = Total_data['Close']
missing_percent = Closed_price.isna().sum()/len(Closed_price)
cleaned_cloing_price = Closed_price.drop(columns=missing_percent[missing_percent>0.01].index)
cleaned_cloing_price.fillna(method='ffill',inplace=True)
cleaned_cloing_price.head()

,AADV.L,AAEV.L,AAIF.L,AAL.L,AAM.L,AAS.L,AATG.L,AAU.L,AAVC.L,AAZ.L,...,WWH.L,WYN.L,XAR.L,XPP.L,YOU.L,ZIN.L,ZOL.L,ZOO.L,ZTF.L,ZYT.L
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-12,0.735,0.7,1.015,1451.0,0.5525,2.3575,0.7,1.75,0.625,5.88,...,5.40,172.5,48.0,131.00,85.00,265.0,31.0,8.810,59.5,110.5
2009-01-13,0.735,0.7,0.995,1429.0,0.5525,2.3525,0.7,1.75,0.625,6.00,...,5.47,172.5,49.0,129.00,84.00,265.0,31.0,9.130,59.5,110.5
2009-01-14,0.735,0.7,1.010,1293.0,0.5525,2.4000,0.7,1.75,0.625,7.00,...,5.50,172.5,47.5,129.25,77.50,265.0,31.0,9.125,59.5,110.5
2009-01-15,0.735,0.7,1.005,1275.0,0.5525,2.3350,0.7,1.75,0.625,7.00,...,5.38,167.0,48.0,129.50,70.75,260.0,17.0,9.125,59.5,106.0
2009-01-16,0.735,0.7,0.985,1371.0,0.5525,2.3100,0.7,1.88,0.625,6.50,...,5.35,167.0,47.0,129.25,72.00,260.0,13.2,9.130,59.5,106.0

In [63]:
columns_list = cleaned_cloing_price.columns
Volume = Total_data['Volume']
cleaned_volume = Volume[columns_list]

In [64]:
cleaned_volume

,AADV.L,AAEV.L,AAIF.L,AAL.L,AAM.L,AAS.L,AATG.L,AAU.L,AAVC.L,AAZ.L,...,WWH.L,WYN.L,XAR.L,XPP.L,YOU.L,ZIN.L,ZOL.L,ZOO.L,ZTF.L,ZYT.L
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-12,0.0,0.0,111937.0,5593445.0,0.0,25439.0,0.0,0.0,0.0,170313.0,...,28700.0,0.0,140000.0,37200.0,219886.0,0.0,0.0,24400.0,7255.0,12763.0
2009-01-13,0.0,0.0,51502.0,8228871.0,0.0,20734.0,0.0,0.0,3000.0,1179779.0,...,53085.0,0.0,104815.0,4940.0,146674.0,0.0,0.0,1363.0,0.0,3500.0
2009-01-14,0.0,0.0,79242.0,9075464.0,0.0,30045.0,0.0,0.0,0.0,0.0,...,63186.0,0.0,31485.0,4083.0,352736.0,0.0,0.0,0.0,0.0,0.0
2009-01-15,0.0,0.0,154148.0,11590893.0,0.0,10036.0,0.0,0.0,0.0,52045.0,...,22648.0,4500.0,1472514.0,582562.0,188571.0,0.0,2000.0,0.0,0.0,0.0
2009-01-16,0.0,0.0,25903.0,9478963.0,0.0,13254.0,0.0,0.0,10218.0,302291.0,...,28029.0,0.0,237837.0,0.0,140219.0,0.0,35000.0,3279.0,0.0,0.0
2009-01-19,0.0,0.0,68950.0,6619279.0,0.0,20200.0,0.0,1964000.0,0.0,275291.0,...,22960.0,4367.0,42754.0,28937.0,35801.0,2300.0,0.0,351.0,0.0,0.0
2009-01-20,0.0,0.0,52881.0,8138538.0,0.0,35664.0,0.0,860000.0,0.0,180689.0,...,24571.0,0.0,181088.0,17924.0,19319.0,0.0,0.0,0.0,0.0,0.0
2009-01-21,0.0,0.0,43604.0,10940018.0,0.0,33426.0,0.0,0.0,0.0,0.0,...,25529.0,0.0,24866.0,180691.0,8200.0,0.0,0.0,833.0,380000.0,0.0
2009-01-22,0.0,0.0,22565.0,8395487.0,0.0,92773.0,0.0,0.0,0.0,194355.0,...,64279.0,0.0,7525.0,1300.0,23000.0,0.0,244.0,5000.0,35000.0,0.0
2009-01-23,0.0,0.0,59178.0,10218849.0,0.0,80730.0,0.0,0.0,0.0,372598.0,...,35975.0,5162.0,17230.0,53099.0,38820.0,0.0,0.0,0.0,6500.0,9450.0
2009-01-26,0.0,0.0,30839.0,8675673.0,0.0,92243.0,0.0,0.0,0.0,1405408.0,...,68154.0,31362.0,0.0,67319.0,103100.0,3000.0,0.0,307298.0,0.0,6645.0
2009-01-27,0.0,0.0,8764.0,5500435.0,0.0,107152.0,0.0,0.0,0.0,716634.0,...,72866.0,0.0,143905.0,3000.0,853030.0,0.0,0.0,23809.0,0.0,0.0
2009-01-28,0.0,0.0,75224.0,9210740.0,0.0,0.0,0.0,0.0,0.0,1068828.0,...,34454.0,11264.0,135600.0,0.0,1397.0,0.0,0.0,0.0,0.0,0.0
2009-01-29,0.0,0.0,107149.0,6473698.0,0.0,6144.0,0.0,0.0,0.0,327966.0,...,30440.0,0.0,128055.0,5794.0,26765.0,0.0,302.0,0.0,0.0,0.0
2009-01-30,0.0,0.0,0.0,8961178.0,0.0,0.0,0.0,0.0,0.0,544000.0,...,22920.0,0.0,106000.0,26386.0,0.0,0.0,0.0,0.0,0.0,0.0
2009-02-02,0.0,0.0,18500.0,6808617.0,0.0,7294.0,0.0,0.0,0.0,84739.0,...,41348.0,0.0,0.0,0.0,250068.0,2028.0,0.0,0.0,0.0,398.0
2009-02-03,0.0,0.0,19323.0,6795231.0,0.0,11505.0,0.0,0.0,0.0,415264.0,...,79658.0,7600.0,0.0,0.0,155607.0,0.0,0.0,0.0,0.0,5000.0
2009-02-04,0.0,0.0,39222.0,9595350.0,0.0,18331.0,0.0,0.0,0.0,166363.0,...,88337.0,5225.0,0.0,27600.0,0.0,0.0,0.0,0.0,0.0,8515.0
2009-02-05,0.0,0.0,21245.0,7662601.0,0.0,8216.0,0.0,0.0,0.0,229721.0,...,68262.0,0.0,0.0,0.0,6065053.0,0.0,0.0,0.0,3972.0,25000.0
2009-02-06,0.0,0.0,26800.0,9449816.0,0.0,8139.0,0.0,0.0,0.0,102103.0,...,48942.0,0.0,43000.0,11081.0,4399493.0,0.0,0.0,0.0,0.0,34238.0
2009-02-09,0.0,0.0,32682.0,5974093.0,0.0,4658.0,0.0,0.0,0.0,429943.0,...,59096.0,8587.0,5000.0,14081.0,688975.0,0.0,0.0,19901.0,0.0,0.0
2009-02-10,0.0,0.0,75345.0,7111232.0,0.0,2946.0,0.0,0.0,0.0,638425.0,...,6492.0,5500.0,3515.0,2300.0,315081.0,0.0,10000.0,1471.0,0.0,6086.0
2009-02-11,0.0,0.0,90118.0,11714554.0,0.0,19824.0,0.0,0.0,1920.0,1280352.0,...,19334.0,0.0,45000.0,14000.0,329940.0,0.0,10294.0,0.0,1000.0,2603.0
2009-02-12,0.0,0.0,20500.0,8677980.0,0.0,9579.0,0.0,5786.0,0.0,124877.0,...,79826.0,0.0,24000.0,82000.0,125966.0,0.0,7539.0,0.0,116579.0,6000.0
2009-02-13,0.0,0.0,60700.0,7674305.0,0.0,3441.0,0.0,390194.0,0.0,230318.0,...,43881.0,0.0,22000.0,41402.0,199275.0,0.0,676.0,40000.0,0.0,4508.0
2009-02-16,0.0,0.0,31250.0,3504552.0,0.0,5452.0,0.0,81553.0,0.0,82965.0,...,163615.0,0.0,23731.0,123478.0,127821.0,0.0,0.0,24000.0,50000.0,680000.0
2009-02-17,0.0,0.0,144096.0,8516168.0,0.0,5800.0,0.0,109496.0,0.0,43661.0,...,108142.0,0.0,67000.0,169400.0,27908.0,200.0,470.0,1536.0,0.0,4710.0
2009-02-18,0.0,0.0,78775.0,9096866.0,0.0,12280.0,0.0,0.0,0.0,40334.0,...,93846.0,0.0,37927.0,14586.0,189165.0,0.0,12500.0,2270.0,0.0,12100.0
2009-02-19,0.0,0.0,35850.0,6314417.0,0.0,0.0,0.0,175073.0,0.0,31351.0,...,45304.0,0.0,19500.0,140786.0,498501.0,0.0,300.0,48782.0,0.0,5000.0
2009-02-20,0.0,0.0,91290.0,22784972.0,0.0,2207.0,0.0,912831.0,0.0,182309.0,...,17855.0,2000.0,47000.0,56586.0,34580.0,10470.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-11-23,0.0,0.0,0.0,5497052.0,0.0,0.0,0.0,1593330.0,0.0,333281.0,...,34074.0,5666.0,13505.0,49927.0,105945.0,10000.0,170879.0,258837.0,7969.0,30172.0
2018-11-26,0.0,0.0,0.0,4478078.0,0.0,0.0,0.0,425000.0,0.0,397771.0,...,0.0,6636.0,179.0,58866.0,56510.0,0.0,10000.0,113733.0,211209.0,11812.0
2018-11-27,0.0,0.0,0.0,5965931.0,0.0,0.0,0.0,8113986.0,0.0,245559.0,...,0.0,16780.0,19270.0,9701.0,283526.0,175000.0,0.0,2079575.0,13620.0,18516.0
2018-11-28,0.0,0.0,0.0,6016212.0,0.0,0.0,0.0,2613560.0,0.0,182477.0,...,44381.0,10955.0,27634.0,29597.0,145512.0,50000.0,95000.0,77878.0,189505.0,13522.0
2018-11-29,0.0,0.0,0.0,6199278.0,0.0,0.0,0.0,5008710.0,0.0,205853.0,...,82730.0,32541.0,6411.0,7406.0,9447.0,250000.0,267044.0,79956.0,152232.0,17311.0
2018-11-30,0.0,0.0,0.0,7514852.0,0.0,0.0,0.0,3584877.0,0.0,155672.0,...,35409.0,13291.0,11287.0,16097.0,15779.0,0.0,0.0,156892.0,2541.0,13609.0
2018-12-03,0.0,0.0,0.0,7458403.0,0.0,0.0,0.0,2525295.0,0.0,301269.0,...,NaN,21621.0,9134.0,37398.0,135739.0,140000.0,0.0,227194.0,34064.0,8895.0
2018-12-04,0.0,0.0,0.0,5986894.0,0.0,0.0,0.0,1246333.0,0.0,478628.0,...,0.0,4562.0,21741.0,14654.0,339925.0,0.0,2931.0,134037.0,922812.0,18417.0
2018-12-05,0.0,0.0,0.0,3816401.0,0.0,0.0,0.0,2989779.0,0.0,156464.0,...,0.0,2948.0,71353.0,2902.0,204999.0,3179370.0,0.0,1418719.0,17774.0,5160.0
2018-12-06,0.0,0.0,0.0,6055228.0,0.0,0.0,0.0,622759.0,0.0,355992.0,...,54263.0,3478.0,3807.0,12285.0,14055.0,1500000.0,0.0,498779.0,990013.0,25572.0
2018-12-07,0.0,0.0,0.0,4528670.0,0.0,0.0,0.0,1105115.0,0.0,441132.0,...,0.0,27322.0,29837.0,12092.0,486992.0,10537750.0,0.0,131016.0,6285.0,12284.0
2018-12-10,0.0,0.0,0.0,5136206.0,0.0,0.0,0.0,3332780.0,0.0,241755.0,...,51910.0,10220.0,23247.0,16752.0,32146.0,1470594.0,0.0,213925.0,250109.0,37001.0
2018-12-11,0.0,0.0,0.0,7842060.0,0.0,0.0,0.0,492368.0,0.0,255478.0,...,62601.0,4766.0,48751.0,8921.0,83792.0,0.0,50.0,46412.0,50023.0,72595.0
2018-12-12,0.0,0.0,0.0,6844014.0,0.0,0.0,0.0,5077796.0,0.0,143175.0,...,48341.0,10608.0,13164.0,12145.0,66402.0,0.0,27000.0,65291.0,2090.0,48313.0
2018-12-13,0.0,0.0,0.0,5282391.0,0.0,0.0,0.0,2813460.0,0.0,110202.0,...,55965.0,7665.0,617.0,30765.0,10003.0,0.0,0.0,47233.0,4604.0,1357101.0
2018-12-14,0.0,0.0,0.0,4469760.0,0.0,0.0,0.0,620033.0,0.0,139209.0,...,0.0,16085.0,2618.0,60552.0,75789.0,0.0,20770.0,235034.0,1884.0,32775.0
2018-12-17,0.0,0.0,0.0,3902971.0,0.0,0.0,0.0,2129317.0,0.0,419330.0,...,0.0,17694.0,3489.0,5518.0,59031.0,76036.0,0.0,433576.0,209055.0,17808.0
2018-12-18,0.0,0.0,0.0,4773473.0,0.0,0.0,0.0,990614.0,0.0,85462.0,...,62065.0,16657.0,14296.0,9122.0,139864.0,0.0,0.0,387612.0,17956.0,24403.0
2018-12-19,0.0,0.0,0.0,5339863.0,0.0,0.0,0.0,780015.0,0.0,206512.0,...,68863.0,4027.0,58382.0,113771.0,21023.0,0.0,0.0,97310.0,29684.0,12384.0
2018-12-20,0.0,0.0,0.0,5808054.0,0.0,0.0,0.0,1599999.0,0.0,81097.0,...,110442.0,16145.0,5791.0,32333.0,27907.0,0.0,0.0,123979.0,6908.0,15943.0
2018-12-21,0.0,0.0,0.0,8860620.0,0.0,0.0,0.0,1055093.0,0.0,236867.0,...,223028.0,6048.0,21543.0,14950.0,27529.0,3659.0,150.0,201919.0,127893.0,19020.0
2018-12-24,0.0,0.0,0.0,841037.0,0.0,0.0,0.0,724661.0,0.0,9975.0,...,8394.0,200.0,7109.0,6488.0,77991.0,143128.0,0.0,19864.0,18144.0,3844.0
2018-12-27,0.0,0.0,0.0,3178637.0,0.0,0.0,0.0,2060838.0,0.0,176711.0,...,50389.0,9885.0,9618.0,26045.0,38476.0,75961.0,0.0,132964.0,24574.0,24742.0
2018-12-28,0.0,0.0,0.0,3233230.0,0.0,0.0,0.0,550000.0,0.0,116830.0,...,66520.0,400.0,101435.0,24163.0,18503.0,0.0,0.0,33168.0,26688.0,19195.0
2018-12-31,0.0,0.0,0.0,1456617.0,0.0,0.0,0.0,425785.0,0.0,138112.0,...,NaN,2034.0,13159.0,3604.0,2569.0,0.0,4000.0,34293.0,49116.0,10453.0
2019-01-02,0.0,0.0,0.0,4839773.0,0.0,0.0,0.0,1866100.0,0.0,829733.0,...,29658.0,13657.0,75450.0,55827.0,87512.0,46.0,0.0,130671.0,1520874.0,26100.0
2019-01-03,0.0,0.0,0.0,4181484.0,0.0,0.0,0.0,2446774.0,0.0,88482.0,...,37804.0,2641.0,39655.0,23098.0,56208.0,0.0,0.0,185921.0,43411.0,15089.0
2019-01-04,0.0,0.0,0.0,5647563.0,0.0,0.0,0.0,883045.0,0.0,117515.0,...,37528.0,11831.0,24457.0,16445.0,217347.0,10000.0,6661.0,42292.0,13159.0,10889.0
2019-01-07,2674.0,0.0,86066.0,3865566.0,0.0,20106.0,4641.0,816882.0,673.0,162940.0,...,55026.0,9899.0,33514.0,38971.0,76987.0,1500000.0,0.0,84763.0,27126.0,10335.0
2019-01-08,NaN,NaN,30252.0,549790.0,NaN,1845.0,NaN,NaN,500.0,9644.0,...,14409.0,1225.0,70.0,1483.0,1946.0,NaN,NaN,116243.0,2188.0,4103.0